.sudoku > input{
  width:35px;
  height:35px;
  text-align:center;
  margin:1px;
  background-color:white;
  font-weight:600;
  font-size:14pt;
  border-style:solid;
  color:black;
  background-color:rgba(255,255,255,1);
}
.sudoku > input:nth-child(10n+4),
.sudoku > input:nth-child(10n+7){
    margin-right:5px;
}
.sudoku > input:nth-child(27n){
    margin-bottom:5px;
}
.sudoku > input.active{
    background-color:rgb(200,200,230);
}
.sudoku > input:disabled{
    background-color:rgba(255,255,255,0.7);
}
.sudoku > input.error{
    color:red;
    background-color:rgba(255,0,0,0.5);
}