figure[name=kuzanSudocu] > input{
    width:1.5em;
    height:1.5em;
    font-size:10pt;
    display:block;
    text-align:center;
    border-width:0.15em;
    border-style:solid;
    border-color:rgba(0,0,0,0.1);
    outline:none;
}
figure[name=kuzanSudocu] > input:nth-child(9n + 2){
    margin-left:1.8em;
    margin-top:-1.95em;
}
figure[name=kuzanSudocu] > input:nth-child(9n + 3){
    margin-left:3.6em;
    margin-top:-1.95em;
}
figure[name=kuzanSudocu] > input:nth-child(9n + 4){
    margin-left:5.7em;
    margin-top:-1.95em;
}
figure[name=kuzanSudocu] > input:nth-child(9n + 5){
    margin-left:7.5em;
    margin-top:-1.95em;
}
figure[name=kuzanSudocu] > input:nth-child(9n + 6){
    margin-left:9.3em;
    margin-top:-1.95em;
}
figure[name=kuzanSudocu] > input:nth-child(9n + 7){
    margin-left:11.4em;
    margin-top:-1.95em;
}
figure[name=kuzanSudocu] > input:nth-child(9n + 8){
    margin-left:13.2em;
    margin-top:-1.95em;
}
figure[name=kuzanSudocu] > input:nth-child(9n + 9){
    margin-left:15em;
    margin-top:-1.95em;
}
figure[name=kuzanSudocu] > input:nth-child(27n+1){
    margin-top:0.3em;
}